.vscode

build
cef/build

cef/**/*.o
cef/**/*.prx
cef/**/*.elf

cef/btcnf/**/pspbtcnf*.bin

cef/systemctrl/binary.h
cef/systemctrl/rebootex.h

cef/lib/libpsp*.a

cef/updater/version
cef/updater/updater.elf
cef/updater/adrenaline_kernel.h
cef/updater/adrenaline_user.h
cef/updater/adrenaline_vsh.h
cef/updater/frame_xml.h
cef/updater/template_xml.h
cef/updater/main.o
cef/updater/EBOOT.PBP
cef/updater/updater.prx
cef/updater/psp-updatelist.txt

user/flash0

docs/book