name: Build Check
on:
  push:
    paths-ignore:
      - 'readme.md'
      - 'todo.md'
      - 'LICENSE'
      - 'Dockerfile'
      - '**/README.md'
      - 'docs/**'
    branches: [ master, dev ]
  pull_request:
    paths-ignore:
      - 'readme.md'
      - 'todo.md'
      - 'LICENSE'
      - 'Dockerfile'
      - '**/README.md'
      - 'docs/**'

jobs:
  prepare:
    name: Setup Compilation Environment
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}

    steps:
      - name: Install Dependencies
        run: sudo apt-get install build-essential cmake pkgconf libreadline8 libusb-0.1 libgpgme11 libarchive-tools fakeroot python3 wget

      - name: Install Dependencies 2
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Pre-setups
        run: |
          sudo mkdir -p /usr/local/pspdev
          echo "VITASDK=/usr/local/vitasdk" >> $GITHUB_ENV
          echo "/usr/local/vitasdk/bin" >> $GITHUB_PATH
          echo "PSPDEV=/usr/local/pspdev" >> $GITHUB_ENV
          echo "/usr/local/pspdev/bin" >> $GITHUB_PATH

      - name: Setup VITASDK
        run: |
          git clone https://github.com/vitasdk/vdpm
          cd vdpm
          ./bootstrap-vitasdk.sh
          ./install-all.sh

      - name: Setup PSPSDK
        run: |
          wget -q https://github.com/pspdev/pspdev/releases/latest/download/pspdev-ubuntu-latest-x86_64.tar.gz
          sudo tar -xzf pspdev-ubuntu-latest-x86_64.tar.gz -C /usr/local/

      - name: Setup psp-packer
        run: |
          git clone https://github.com/VitaArchive/psp-packer.git
          cd psp-packer
          cargo build --release --target-dir=target --quiet
          sudo cp target/release/psp-packer /usr/local/pspdev/bin

      - name: Upload Environment
        uses: actions/upload-artifact@v6
        with:
          name: epi-environ
          retention-days: 1
          path: |
            /usr/local/vitasdk/
            /usr/local/pspdev/


  build:
    name: Build Adrenaline
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v5

      - name: Prepare Environment - Part 1
        uses: actions/download-artifact@v7
        with:
          name: epi-environ
          path: local/

      - name: Prepare Environment - Part 2
        id: vars
        run: |
          sudo mv local/vitasdk /usr/local/vitasdk
          sudo mv local/pspdev /usr/local/pspdev
          sudo chmod -R 755 /usr/local
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "VITASDK=/usr/local/vitasdk" >> $GITHUB_ENV
          echo "/usr/local/vitasdk/bin" >> $GITHUB_PATH
          echo "PSPDEV=/usr/local/pspdev" >> $GITHUB_ENV
          echo "/usr/local/pspdev/bin" >> $GITHUB_PATH

      - name: Set Nightly Version
        run: sed -r -i "s/^(#define[[:space:]]+EPI_NIGHTLY_VER[[:space:]]+\")([0-9]+)(\")/\1$${{ steps.vars.outputs.sha_short }}\3/" adrenaline_version.h

      - name: Build eCFW
        run: make -j1 -C cef NIGHTLY=1

      - name: Build VPK
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DNIGHTLY=1
          cmake --build build
          mv build/bubble/Adrenaline.vpk build/bubble/Adrenaline-${{ steps.vars.outputs.sha_short }}.vpk

      - name: Upload VPK
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v6
        with:
          name: epi-vpk
          path: build/bubble/Adrenaline-${{ steps.vars.outputs.sha_short }}.vpk
          compression-level: 0

      - name: Build UPDATER
        run: |
          cmake --build build --target updater
          zip -r build/updater-${{ steps.vars.outputs.sha_short }}.zip build/updater

      - name: Upload UPDATER
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v6
        with:
          name: epi-updater
          path: build/updater-${{ steps.vars.outputs.sha_short }}.zip
          compression-level: 0

      - name: Build CFW libs
        run: |
          cmake --build build --target cfw-libs
          zip -r 'build/epi-hb-dev-setup-${{ steps.vars.outputs.sha_short }}.zip' build/hb-dev-setup/

      - name: Upload CFW libs
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v6
        with:
          name: epi-cfw-libs
          path: 'build/epi-hb-dev-setup-${{ steps.vars.outputs.sha_short }}.zip'
          compression-level: 0


  build-debug:
    name: Build Adrenaline with DEBUG
    runs-on: ubuntu-latest
    needs: prepare
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v5

      - name: Prepare Environment - Part 1
        uses: actions/download-artifact@v7
        with:
          name: epi-environ
          path: local/

      - name: Prepare Environment - Part 2
        id: vars
        run: |
          sudo mv local/vitasdk /usr/local/vitasdk
          sudo mv local/pspdev /usr/local/pspdev
          sudo chmod -R 755 /usr/local
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "VITASDK=/usr/local/vitasdk" >> $GITHUB_ENV
          echo "/usr/local/vitasdk/bin" >> $GITHUB_PATH
          echo "PSPDEV=/usr/local/pspdev" >> $GITHUB_ENV
          echo "/usr/local/pspdev/bin" >> $GITHUB_PATH

      - name: Set Nightly Version
        run: sed -r -i "s/^(#define[[:space:]]+EPI_NIGHTLY_VER[[:space:]]+\")([0-9]+)(\")/\1$${{ steps.vars.outputs.sha_short }}\3/" adrenaline_version.h

      - name: Build eCFW
        run: make -j1 -C cef NIGHTLY=1 SCTRL_DEBUG=3

      - name: Build VPK
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DNIGHTLY=1
          cmake --build build
          mv build/bubble/Adrenaline.vpk build/bubble/Adrenaline-${{ steps.vars.outputs.sha_short }}-DEBUG.vpk

      - name: Upload VPK
        uses: actions/upload-artifact@v6
        with:
          name: epi-vpk-debug
          path: build/bubble/Adrenaline-${{ steps.vars.outputs.sha_short }}-DEBUG.vpk
          compression-level: 0