name: Build Check
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: grayjack1/adrenaline:latest # Official VitaSDK Docker image
    steps:
    - uses: actions/checkout@v5

    - name: Build eCFW
      run: |
        ls /usr/local/pspdev
        echo $PSPDEV
        echo $PATH
        make -C cef

    - name: Build VITA
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
        cmake --build build

    # - name: Upload VPK
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: vita-homebrew
    #     path: build/*.vpk