name: Build Check
on:
  push:
    paths-ignore:
      - 'readme.md'
      - 'todo.md'
      - 'LICENSE'
      - 'Dockerfile'
      - '**/README.md'
      - 'docs/**'
    branches: [ master, dev ]
  pull_request:
    paths-ignore:
      - 'readme.md'
      - 'todo.md'
      - 'LICENSE'
      - 'Dockerfile'
      - '**/README.md'
      - 'docs/**'

jobs:
  build:
    runs-on: ubuntu-latest
    # container: grayjack1/adrenaline:latest # Official VitaSDK Docker image
    steps:
    - uses: actions/checkout@v5

    - name: Install Dependencies
      run: sudo apt-get install build-essential cmake pkgconf libreadline8 libusb-0.1 libgpgme11 libarchive-tools fakeroot python3 wget

    - name: Install Dependencies 2
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable

    - name: Pre-setups
      run: |
        sudo mkdir -p /usr/local/pspdev
        echo "VITASDK=/usr/local/vitasdk" >> $GITHUB_ENV
        echo "/usr/local/vitasdk/bin" >> $GITHUB_PATH
        echo "PSPDEV=/usr/local/pspdev" >> $GITHUB_ENV
        echo "/usr/local/pspdev/bin" >> $GITHUB_PATH

    - name: Setup VITASDK
      run: |
        git clone https://github.com/vitasdk/vdpm
        cd vdpm
        ./bootstrap-vitasdk.sh
        ./install-all.sh

    - name: Setup PSPSDK
      run: |
        wget -q https://github.com/pspdev/pspdev/releases/latest/download/pspdev-ubuntu-latest-x86_64.tar.gz
        sudo tar -xzf pspdev-ubuntu-latest-x86_64.tar.gz -C /usr/local/

    - name: Setup psp-packer
      run: |
        git clone https://github.com/VitaArchive/psp-packer.git
        cd psp-packer
        cargo build --release --target-dir=target
        sudo cp target/release/psp-packer /usr/local/pspdev/bin

    - name: Build eCFW
      run: make -j1 -C cef

    - name: Build VITA
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
        cmake --build build

    # - name: Upload VPK
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: vita-homebrew
    #     path: build/*.vpk