name: Build Check
on:
  push:
    paths-ignore:
      - 'readme.md'
      - 'todo.md'
      - 'LICENSE'
      - 'Dockerfile'
      - '**/README.md'
      - 'docs/**'
    branches: [ master, dev ]
  pull_request:
    paths-ignore:
      - 'readme.md'
      - 'todo.md'
      - 'LICENSE'
      - 'Dockerfile'
      - '**/README.md'
      - 'docs/**'

jobs:
  prepare:
    name: Setup Compilation Environment
    runs-on: ubuntu-latest

    steps:
      # - uses: actions/checkout@v5

      - name: Install Dependencies
        run: sudo apt-get install build-essential cmake pkgconf libreadline8 libusb-0.1 libgpgme11 libarchive-tools fakeroot python3 wget

      - name: Install Dependencies 2
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Pre-setups
        run: |
          sudo mkdir -p /usr/local/pspdev
          echo "VITASDK=/usr/local/vitasdk" >> $GITHUB_ENV
          echo "/usr/local/vitasdk/bin" >> $GITHUB_PATH
          echo "PSPDEV=/usr/local/pspdev" >> $GITHUB_ENV
          echo "/usr/local/pspdev/bin" >> $GITHUB_PATH

      - name: Setup VITASDK
        run: |
          git clone https://github.com/vitasdk/vdpm
          cd vdpm
          ./bootstrap-vitasdk.sh
          ./install-all.sh

      - name: Setup PSPSDK
        run: |
          wget -q https://github.com/pspdev/pspdev/releases/latest/download/pspdev-ubuntu-latest-x86_64.tar.gz
          sudo tar -xzf pspdev-ubuntu-latest-x86_64.tar.gz -C /usr/local/

      - name: Setup psp-packer
        run: |
          git clone https://github.com/VitaArchive/psp-packer.git
          cd psp-packer
          cargo build --release --target-dir=target --quiet
          sudo cp target/release/psp-packer /usr/local/pspdev/bin

      - name: Upload Environment
        uses: actions/upload-artifact@v6
        with:
          name: epi-environ
          path: |
            /usr/local/vitasdk/
            /usr/local/pspdev/


  build:
    name: Build Adrenaline
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v5

      - name: Prepare Environment - Part 1
        uses: actions/download-artifact@v7
        with:
          name: epi-environ
          path: local/

      - name: Prepare Environment - Part 2
        run: |
          sudo mv local/vitasdk /usr/local/vitasdk
          sudo mv local/pspdev /usr/local/pspdev
          sudo chmod -R 755 /usr/local
          echo "VITASDK=/usr/local/vitasdk" >> $GITHUB_ENV
          echo "/usr/local/vitasdk/bin" >> $GITHUB_PATH
          echo "PSPDEV=/usr/local/pspdev" >> $GITHUB_ENV
          echo "/usr/local/pspdev/bin" >> $GITHUB_PATH

      - name: Build eCFW
        run: make -j1 -C cef

      - name: Build VPK
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build

    # - name: Upload VPK
    #   uses: actions/upload-artifact@v6
    #   with:
    #     name: epi-vpk
    #     path: build/bubble/Adrenaline.vpk

      - name: Build UPDATER
        run: |
          cmake --build build --target updater

      - name: Build CFW libs
        run: |
          cmake --build build --target cfw-libs
